{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome {{faculty_data.name}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap" rel="stylesheet">
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Add your custom styles if needed -->
    <style>
      * {
      font-family: "EB Garamond", serif;
    }
        /* Your custom styles go here */
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top text-light" style="color: #fff;" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: #fff;"><img src="https://github.com/Vikaskoppoju/facultyvault/assets/98159254/17c0f22e-0e81-4518-9211-c3554deda60e" alt="" width="150rem"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}" style="color: #fff;">Dashboard</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}" style="color: #fff;">Logout</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <div class="container" style="margin-top: 5rem;">
        <!-- Bootstrap container class for responsive layout -->
        <p class="lead">Greetings {{ name }},</p>
        <p>Add or Update Books details</p>
        <div class="table-responsive">
        <form method="post">
            {% csrf_token %}
            <input type="number" name="newRecordsCounter" id="newRecordsCounter" hidden />
            <table id="dataTable" class="table">
                <!-- Add Bootstrap table class -->
                <thead>
                    <tr>
                        <th>Academic Year</th>
                        <th>Name Of The Book</th>
                        <th>ISSBN</th>
                        <th>Date Of Issue</th>
                        <th>DOI Link</th>
                    </tr>
                </thead>
                <tbody>
                    {% if books_data %}
                    {% for record in books_data %}
                    <tr>
                        <td>
                            <input type="text" class="form-control" name="academic_year{{forloop.counter0}}" value="{{record.academic_year}}" />
                        </td>
                        <td>
                            <input type="text" class="form-control" name="book_title{{forloop.counter0}}" value="{{record.title_of_book}}" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="{{record.issbn}}" name="issbn{{forloop.counter0}}" />
                        </td>
                        <td>
                            <input type="date" class="form-control" value="{{record.date_published|date:'Y-m-d'}}" name="date{{forloop.counter0}}" />
                        </td>
                        <td>
                            <input type="url" class="form-control" value="{{record.doi_link}}" name="url{{forloop.counter0}}" />
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">
                            No Certification data available yet! Add using below button...
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td colspan="4">
                            <button type="button" class="btn btn-primary" onclick="addAnotherRecord()">
                                Add +
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" class="btn btn-success" value="Save" />
        </form>
        </div>
      <script type="text/javascript">
        var newly_added_count = 0;
        console.log("Total rows of a table : ",document
            .getElementById("dataTable")
            .getElementsByTagName("tbody")[0].rows);

        function updateRecordCounter() {
          document.getElementById("newRecordsCounter").value = newly_added_count;
          console.log(document.getElementById("newRecordsCounter").value);
        }

        function addAnotherRecord() {
          var table = document
            .getElementById("dataTable")
            .getElementsByTagName("tbody")[0];

          var position = table.rows.length - 1;
          var newRecord = table.insertRow(position);
          newly_added_count += 1;

          var cell1 = newRecord.insertCell(0);
          var cell2 = newRecord.insertCell(1);
          var cell3 = newRecord.insertCell(2);
          var cell4 = newRecord.insertCell(3);
          var cell5 = newRecord.insertCell(4);
          var cell6 = newRecord.insertCell(5);

          cell1.innerHTML = `<input type="text" name="new_academic_year${newly_added_count}" required />`;
          cell2.innerHTML = `<input type="text" name="new_book_title${newly_added_count}" required />`;
          cell3.innerHTML = `<input type="text" name="new_issbn${newly_added_count}" required />`;
          cell4.innerHTML = `<input type="date" name="new_date${newly_added_count}" required />`;
          cell5.innerHTML = `<input type="text" name="new_url${newly_added_count}" required />`;
          cell6.innerHTML = `<span style="cursor: pointer; color: red;" onclick="removeRecord()">&#10006;</span>`;
          updateRecordCounter();
        }

        function removeRecord() {
          var position = document
            .getElementById("dataTable")
            .getElementsByTagName("tbody")[0].rows.length - 2;
          var table = document
            .getElementById("dataTable")
            .getElementsByTagName("tbody")[0];
          table.deleteRow(position);
          newly_added_count -= 1;
          updateRecordCounter();
        }
        updateRecordCounter();
      </script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
       integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
       crossorigin="anonymous"></script>
     <script src="https://kit.fontawesome.com/83ce78bbab.js" crossorigin="anonymous"></script>
    </div>
  </body>
</html>
