{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome {{faculty_data.name}}</title>

  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <!-- Add your custom styles if needed -->
   <style>
    * {
      font-family: "EB Garamond", serif;
    }
    .formdiv {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #f8f9fa; /* Set a background color if needed */
    }

    .custom-form {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      border-radius: 8px;
      background-color: #ffffff;
      width: 300px; /* Adjust the width as needed */
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top text-light" style="color: #fff;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #fff;"><img
          src="https://github.com/Vikaskoppoju/facultyvault/assets/98159254/17c0f22e-0e81-4518-9211-c3554deda60e" alt=""
          width="150rem"></a>
    </div>
  </nav>
  <div class="container mt-5 formdiv">
    <form method="post" class="custom-form">
      {% csrf_token %}
      <h3>Reset Password</h3>
      <div class="form-group">
        <label for="pswd">New Password</label>
        <input type="password" class="form-control" id="pswd" name="pswd" placeholder="enter your new password" required />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/83ce78bbab.js" crossorigin="anonymous"></script>
</html>
