<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Password Reset</title> -->
</head>
<body style="font-family: 'Arial', sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">

    <table width="100%" bgcolor="#f4f4f4" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; margin: 20px auto; background-color: #ffffff; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
                    <tr>
                        <td>
                            <!-- Company Image -->
                            <img src="https://github.com/Vikaskoppoju/facultyvault/assets/98159254/baad5393-93ad-42c9-ae9a-1e8bf45b9bf7" alt="Company Logo" style=" width: 30rem; max-width: 100%;height: auto; margin-bottom: 20px;">

                            <p style="font-size: 18px; color: #333; line-height: 1.6; margin-bottom: 20px;">Hello {{ id }},</p>
                            <p style="font-size: 16px; color: #333; line-height: 1.6; margin-bottom: 20px;">You have requested a password reset. Please click the following link to reset your password:</p>
                            <p style="font-size: 16px; color: #333; line-height: 1.6; margin-bottom: 20px;">
                                <a href="{% url 'password_reset' cipher %}" style="color: #007bff; text-decoration: none;">Reset Your Password</a>
                                <p>{% url 'password_reset' cipher %}</p>
                            </p>
                            <p style="font-size: 16px; color: #333; line-height: 1.6; margin-bottom: 20px;">If you didn't request a password reset, you can ignore this email.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>
