<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to FacultyVault</title>
</head>
<body style="font-family: 'Arial', sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">

    <table width="100%" bgcolor="#f4f4f4" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; margin: 20px auto; background-color: #ffffff; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
                    <tr>
                        <td>
                            <!-- Add Image Here -->
                            <img src="https://github.com/Vikaskoppoju/facultyvault/assets/98159254/baad5393-93ad-42c9-ae9a-1e8bf45b9bf7" alt="FacultyVault Logo" style="max-width: 100%; height: auto; margin-bottom: 20px;">

                            <p style="font-size: 18px; color: #333; line-height: 1.6; margin-bottom: 20px;">Hello {{ user_name }},</p>
                            <p style="font-size: 16px; color: #333; line-height: 1.6; margin-bottom: 20px;">Welcome to FacultyVault! Your account has been successfully created.</p>
                            <p style="font-size: 16px; color: #333; line-height: 1.6; margin-bottom: 20px;">You can now log in using your faculty ID and the default password provided to you.</p>
                            <p style="font-size: 16px; color: #333; line-height: 1.6; margin-bottom: 20px;">For security reasons, we recommend changing your password as soon as possible.</p>
                            <p style="font-size: 16px; color: #333; line-height: 1.6; margin-bottom: 20px;">If you have any questions or need assistance, feel free to contact us.</p>
                            <p style="font-size: 16px; color: #333; line-height: 1.6; margin-bottom: 20px;">Thank you for joining us!</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>
